<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="MyDatabaseConnectionString" connectionString="Data Source=DESKTOP-4F72K93;Initial Catalog=PayrollManagementSystem;User ID=sa;Password=Ramjanam@123" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.5"/>
	</system.web>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>
</configuration>
